MYSQLDB_DATABASE=
MYSQLDB_ROOT_PASSWORD=
MYSQLDB_URL=

MYSQLDB_LOCAL_PORT=
MYSQLDB_DOCKER_PORT=

SPRING_LOCAL_PORT=
SPRING_DOCKER_PORT=

DEBUG_PORT=

DROPBOX_ACCESS_TOKEN=

EMAIL_FROM=
EMAIL_REPLY_TO=

SECURITY_ENCRYPTION_SECRET=
SECURITY_ENCRYPTION_SALT=

TELEGRAM_BOT_TOKEN=

JWT_SECRET=
JWT_EXPIRATION=
